<div class = "awolooindexpage" >
    <div class ="titles">
        <div class="container">
            <h1 class="header">The most powerful PDF experience is now the most connected.</h1>                
            <h2 class = "subt">Introducing the best Acrobat ever - built for today's cloud-connected,
            multi-device world. Share and review PDFs with your team just as easily 
            on the trains as from your office.</h2>
            <button>DOWNLOAD PDF CONVERTER</button>       
        </div>
    </div>
    <div class ="content">
        <div class="container">
            <div class="row no-gutters">
                <div class="col">
                    <div class="col-container">
                        <h3>WORD PROCESSOR</h3>
                        <div class="imgcontainer"></div>
                        <h2>It's an experience.</h2>
                        <p>Whether you fly planes, entertain people, or sell shoes, you can use design and data to make memorable experiences part of your entire business.</p>
                        <button>LEARN MORE</button>
                    </div>
                </div>
                <div class="col">
                    <div class="col-container">
                        <h3>MEDIA PLAYER</h3>
                        <div class="imgcontainer"></div>
                        <h2>Go wild with Creative Cloud</h2>
                        <p>For freewheeling creativity, there's nothing like Photoshop and Creative Cloud. Combine photos, add effects, design in 3D, and make incredible images</p>
                        <button>LEARN MORE</button>
                    </div>
                </div>
                <div class="col">   
                    <div class="col-container">                 
                        <h3>VIDEO FILE CONVERTER</h3>
                        <div class="imgcontainer"></div>
                        <h2>Stock like only Adobe can.</h2>
                        <p>Choose from millions of images, graphics, videos, templates, and 3D assets. With fresh content added daily, you'll always find the perfect one.</p>
                        <button >LEARN MORE</button>
                    </div>
                </div>
            </div>        
        </div>
    </div> 
</div>