/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 $font-stack: Open Sans;

 html, body {
    width: 100%;
    height: 100%;    
 }
 .nav-container {
     width: 100%;
     height: 50px;
 }
 .nav {
     margin: auto;    
     a {
        color: black;  
     }
     p {
         font-size: 12px;
     }          
 }
 
 .nav-item.dropdown:hover .dropdown-menu {display: block;}
 .nav-link:hover  {background-color: rgb(234, 234, 234); font-weight: 700;} 
 .dropdown-menu a:hover {
    font-weight: 700;
     p {        
        color: #2f7ac0;
        font-weight: normal;
     }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .nav {
        width: 600px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .form-inline {
        margin-right: 5%;
    }
    .navbar-brand {
        margin-left: 5%;
    }           
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  }